In [1]:
import pandas as pd
import numpy as np

from NHANES_data_API import NHANESDataAPI

In [2]:
#test data categories
nhanes_api = NHANESDataAPI()
categories = nhanes_api.list_data_categories()
print("Available NHANES data categories:")
print(categories)

Available NHANES data categories:
['demographics', 'dietary', 'examination', 'laboratory', 'questionnaire', 'limitedaccess']

In [3]:
nhanes_api.list_file_names('demographics')

['Demographic Variables & Sample Weights']

In [4]:
common_variable, uncommon_variable, _ = nhanes_api.common_variables('demographics', cycle_years = ['1999-2018'])

In [5]:
data = nhanes_api.retrieve_data('demographics', ['1999-2018'], 'Demographic Variables & Sample Weights',include_uncommon_variables=False)

In [6]:
data.head()

,SDMVPSU,DMDHHSIZ,RIDRETH1,DMDCITZN,SEQN,DMDEDUC3,SDDSRVYR,RIDAGEYR,RIDEXMON,DMDYRSUS,...,RIAGENDR,DMDMARTL,WTMEC2YR,RIDAGEMN,DMDEDUC2,DMDHRGND,WTINT2YR,RIDSTATR,SDMVSTRA,year
0,1.0,3.0,4.0,1.0,1.0,NaN,1.0,2.0,2.0,NaN,...,2.0,NaN,10982.898896,29.0,NaN,2.0,9727.078709,2.0,5.0,1999-2000
1,3.0,1.0,3.0,1.0,2.0,NaN,1.0,77.0,2.0,NaN,...,1.0,NaN,28325.384898,926.0,5.0,1.0,26678.636376,2.0,1.0,1999-2000
2,2.0,4.0,3.0,2.0,3.0,3.0,1.0,10.0,1.0,2.0,...,2.0,NaN,46192.256945,125.0,NaN,1.0,43621.680548,2.0,7.0,1999-2000
3,1.0,7.0,4.0,1.0,4.0,NaN,1.0,1.0,2.0,NaN,...,1.0,NaN,10251.260020,22.0,NaN,2.0,10346.119327,2.0,2.0,1999-2000
4,2.0,3.0,3.0,1.0,5.0,NaN,1.0,49.0,2.0,NaN,...,1.0,1.0,99445.065735,597.0,5.0,2.0,91050.846620,2.0,8.0,1999-2000

In [7]:
data['year'].value_counts()

year
2001-2002    11039
2009-2010    10537
2005-2006    10348
2013-2014    10175
2007-2008    10149
2003-2004    10122
2015-2016     9971
1999-2000     9965
2011-2012     9756
2017-2018     9254
Name: count, dtype: int64